$placements: 'top', 'bottom', 'left', 'right';

@mixin arrow($placement, $width, $color) {
  @if ($placement == 'top') {
    border-top: $width solid $color;
    border-right: $width solid transparent;
    border-left: $width solid transparent;
  } @else if ($placement == 'bottom') {
    border-bottom: $width solid $color;
    border-right: $width solid transparent;
    border-left: $width solid transparent;
  } @else if ($placement == 'left') {
    border-left: $width solid $color;
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
  } @else if ($placement == 'right') {
    border-right: $width solid $color;
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
  }
}

.tippy-popper {
  @each $placement in $placements {
    &[x-placement^='#{$placement}'] {
      .tippy-tooltip.mtg-theme {
        .tippy-arrow {
          @include arrow($placement, 7px, #000);
        }
      }
    }
  }
}

.tippy-tooltip.mtg-theme {
  color: #fff;
  background-color: #000;

  .tippy-backdrop {
    background-color: #000;
  }

  .tippy-roundarrow {
    fill: #000;
  }

  &[data-animatefill] {
    background-color: transparent;
  }
}
