@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/tippy.js/dist/tippy.css';
@import '../../../node_modules/mana-font/css/mana.css';
@import '../../../node_modules/keyrune/css/keyrune.css';

@import 'loading-spinner';
@import 'mana-color';
@import 'tooltip';

$navbar-height: 56px;

$card-width: 223px;
$card-height: 311px;

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: url('../images/bg.jpg') repeat;
  color: #fff;
  padding-top: $navbar-height;
  padding-bottom: 60px;
  min-height: 100vh;
}

.navbar {
  background-color: #000;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 999;
}

.navbar-brand {
  display: inline-block;
  background: url('../images/magic-the-gathering-logo.png') top center no-repeat #000;
  height: 40px;
  width: 139px;
}

.wrapper {
  padding-top: 10px;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0px;
  background: #191919;
  width: 100%;
  min-height: 50px;
  z-index: 999;
  box-shadow: inset 0px 2px 4px #000;
}

a {
  color: #acacac;

  &:hover {
    color: #acacac;
  }
}

.card-autocomplete-box {
  z-index: 9;
}

.cards-list-image {
  width: $card-width;
  height: $card-height;
  background: url('../images/magic-the-gathering-logo.png') center center no-repeat #7f7f7f;
  text-align: center;

  a {
    display: inline-block;
    width: $card-width;
    height: $card-height;
  }

  .fas {
    color: #000;
    font-size: 160px;
    opacity: 0.6;
    line-height: $card-height;
  }
}
